/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 40px;  
  margin-bottom: 15px;
}

.option-card-border {
  /* background-color: #EAFAF1;
  border-radius: 5px; */
  margin-bottom: 10px;
  padding: 10px
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .15s;
  transition: .15s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 8px;
  bottom: 8px;
  background-color: white;
  -webkit-transition: .15s;
  transition: .15s;
}

input.success:checked + .slider {
  background-color: #8bc34a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}